<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/[[score['id'] ]]" method="POST">
        <input type="text"
        value="[[score['name']]]"id="name"
        name="name">
        <input type="number" 
        value="[[score['score']]]" id="score"
        name="score" min="0" max="100"/>
        <input type="submit"
        value="edit"/>
    </form>
</body>
</html>