<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student score</title>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        padding: 8px;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="section">
        <h2>Add a score</h2>
        <form action="/" method="POST">
            <input name="name" placeholder="name" type="text">
            <input name="score" placeholder="score" type="number">
            <input type="submit" value="add score">
        </form>
        </div>
        <div class="section">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Edit</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.score }}</td>
                    <td>
                        <a href="/edit/{{ student['id'] }}">Edit</a>
                        <a href="/delete/{{ student['id'] }}"onclick="return confirm('Apakah Anda Yakin Akan Menghapus?');">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>